@import "../../styles"

.header 
  background-color: $purple
  height: 8vh
  display: flex
  padding: 0 15%
  justify-content: space-between
  align-items: center
  color: white
  .logo
    text-decoration: none
    font-family: 'Rowdies', cursive
    font-size: 30px
    color: white
  .price
    display: flex
  .shopping-cart
    display: inline-block
    height: 50px
    width: 50px
    .shopping-cart__img
      background-size: cover
      height: 50px
      width: 50px