@import "../../styles"
  
.button_container
  display: flex
  justify-content: space-evenly
.filter_list_container
  display: flex
  flex-direction: column
  width: 100%
  .container_title
    font-size: 24px
    padding: 10px 0
  .filters_wrapper
    border: solid 2px
    border-radius: 10px
    border-color: #ecd6e9
    height: 200px
    width: 100%
    padding: 10px
    overflow: hidden
    overflow-y: auto
    .filters_container
      width: 100%
      .filter_item
        color: gray
        width: 100%
        wrap: wrap
      .chosen_item
        color: black
  .slider_container
    display: flex
    border: solid 2px
    border-radius: 10px
    border-color: #ecd6e9
    height: 100px
    width: 100%
    .range_container
      .sliders_control
        display: flex
        align-items: center
        .from_slider
          width: 150px
          align-items: center
        .to_slider
          width: 170px
          align-items: center
    .form_control
      .form_control_container
        align-items: center
        .form_control_container__input
          width: 65px
          align-items: center
          padding-bottom: 15px

button
  background-color: $purple
  height: 40px
  padding: 5px
  border: none
  width: 45%
  border-radius: 10px
  color: white
  cursor: pointer
  font-size: 16px
